/* Add your CSS here to style your halloween page */

@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Metal+Mania&family=Rubik+Wet+Paint&display=swap');

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik Wet Paint';
    color: #FF7518;
    padding-top: 15px;
}

body {
    background-color: #8B0000;
}

#wrapper {
    text-align: center;
    background-color: #4B0082;
}

h1 {
    color: #7FFF00;
    font-family: 'Metal Mania';
    font-size: 60px;
    letter-spacing: 4px;
}

img {
  display: block;
  margin: 0 auto;
  border: 2px solid #FF7518;
  box-shadow: 0px 2px 10px #FF7518;
}


main > section {
    display: inline-block;
    vertical-align: top;
    margin: 0;              
    text-align: left; 
    justify-content: center;
    padding: 10px;
    width: 30%;
    background-color: #8B0000;
    margin: 5px;
    margin-top: 20px;
    border: 3px dotted #FF7518
}

h2 {
    text-align: center;
    font-family: 'Rubik Wet Paint';
    color: #7FFF00;
    font-size: 35px;
    letter-spacing: 3px;
}

p {
    text-align: center;
    font-family: 'Jolly Lodger';
    font-size: 25px;
}

footer {
    padding: 20px;
    text-align: left;
    color: #FF7518;
}

h1:hover {
  color: #FF7518;            
  background-color: black;   
  transform: scale(1.1);     
  transition: all 0.3s ease;
}

ul:hover {
    color: #EDEADE;
    transform: scale(1.1)
}

img:hover {
    opacity: 0%;
    transition: opacity .5s ease;
}


