body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}
table.table {
  border: 1px solid #000000;
  box-shadow: 0 0 5px black;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
table.table td, table.table th {
  border: 1px solid #000000;
  padding: 12px 10px;
  border-radius: 5px;
}
table.table tbody td {
  font-size: 1em;
}
table.table thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.table thead th {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  max-width: 500px;
  margin: 10px auto;
  text-align: left;
}

label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  color: #222;
  margin-bottom: 6px;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.3);
}

input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

input:active {
  border-color: #0074D9;
  box-shadow: 0 0 5px lightblue;
  outline: none;
}

button {
  background-color: #001f3f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background-color: #004080;
}